body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('images/intersec.jpg'); 
    background-size: cover;
    color: rgb(13, 13, 14);
    text-align: center;
    text-size-adjust: 75px;
    padding: 230px 0;
}

.header-content {
    padding: 100px 0;
    background: rgba(184, 208, 232, 0.5); /* Semi-transparent background */
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

nav {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
   
}


nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Ensure section backgrounds are responsive */
section {
    padding: 80px;
    height: fit-content; /* Use vh units for height */
    width: fit-content; /* Ensure sections take up full width */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

#section1 { background: #ccb8f0; }
#section2 { background: #e2e2e2; }
#section3 { background: #dcebcf; }
#section4 { background: #ffffff; }
#section5 { background: #b3d9fa; }
#section6 { background: #e2e2e2; }
#section7 { background: #ccb8f0; }
#section8 { background: #f4f4f4; }

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    section {
        padding: 60px;
        height: fit-content;
    }
}

@media (max-width: 768px) {
    section {
        padding: 40px;
        height: fit-content;
    }
}

@media (max-width: 480px) {
    section {
        padding: 20px;
        height: fit-content;
    }
} 


footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #c8f2dc;
    color: #2e2828;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p.thick {
  font-weight: bold;
}



.container {
    display: flex;
    align-items: flex-start; /* aligns top of image and text */
    gap: 20px; /* space between image and text */
}

.container img {
    width: 250px;  /* adjust as needed */
    height: fit-content;
    content: url(images/ronnie.jpeg);
}

.container .text {
    flex: 1; /* text takes remaining space */
}
